<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="mz-gallery-container">
        <div id="mz-gallery">
            {% for file in files %}
            <figure>
                <img src="/get_image/{{ file.file_id }}" alt="{{ file.filename }}" width="700" height="700">
                <figcaption>{{ file.filename }}</figcaption>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </figure>
            {% endfor %}
        </div>
    </div>
</body>
</html>
